---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";

import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/base/Header.astro";
import Services from "../components/services/Services.astro";
import Footer from "../components/base/Footer.astro";
---

<Layout 
  title="Servicios Tecnológicos en Las Condes | Reparación, Desarrollo Web y Seguridad - Tecnotix Solutions"
  description="Tecnotix Solutions ofrece servicios tecnológicos en Las Condes: reparación de notebooks y smartphones, instalación de cámaras de seguridad, desarrollo web, soporte técnico y consultoría informática para empresas y hogares. Atención personalizada y soluciones innovadoras."
>
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
